@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
}

:root {
    --font-family: 'Montserrat', sans-serif;
    --font-weight-bold: 700;
    --font-weight-semiBold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --color-strong-text: #112D35;
    --color-normal-text: #3F555D;
    --color-icon: #EEEEF5;
    --color-btn-text: #FFF;
    --color-brand: #C4C4C4;
    --color-footer-text-prim: rgba(255, 255, 255, 0.80);
    --color-footer-text-secon: rgba(250, 250, 250, 0.50);
    --color-line-and-btn-bg: #1F94AA;
    --color-header-and-container-bg: #F7F7FE;
    --color-body-bg: #FFFFFF;
    --color-footer-bg: #112D35;
    --color-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.05);
    /* --color-hover-item: ; */
    --font-48-24: 2.4rem;
    --font-36-18: 1.8rem;
    --font-32-18: 1.8rem;
    --font-24: 2.4rem;
    --font-18-16: 1.6rem;
    --font-18: 1.8rem;
    --font-16-14: 1.4rem;
    --font-16: 1.6rem;
    --font-15-14: 1.4rem;
    --font-15: 1.5rem;
    --font-14-12: 1.2rem;
    --font--14-11: 1.1rem;
    --font-14-8: 0.8rem;
    --font-14: 1.4rem;
    --font-12-11: 1.1rem;
    --font-12-10: 1rem;
    --font-11-7: 0.7rem;
    --font-10-7: 0.7rem;
    --line-height-58-32: 3.2rem;
    --line-height-50-27: 2.7rem;
    --line-height-48-27: 2.7rem;
    --line-height-32: 3.2rem;
    --line-height-27: 2.7rem;
    --line-height-27-26: 2.6rem;
    --line-height-26-22: 2.2rem;
    --line-height-25-22: 2.2rem;
    --line-height-22-18: 1.8rem;
    --line-height-22-12: 1.2rem;
    --line-height-22: 2.2rem;
    --line-height-19: 1.9rem;
    --line-height-17: 1.7rem;
    --line-height-17-18: 1.8rem;
    --line-height-22-mb: 2.2rem;
    --line-height-22-desktop: 2.2rem;
    --line-height-17-mb: 1.7rem;
    --line-height-10-mb: 1rem;
    --btn-maxw-primary: 16.7rem;
    --btn-maxw-secondary: 20.2rem;
    --padding-inline-container: 1.6rem;
    --padding-inline-container-bg: 2.4rem;
    --padding-block-container-bg-80-24: 2.4rem 4.8rem;
    --padding-section: 1.6rem;
    --margin-section-120-80: 8rem;
    --row-gap-32-16: 1.6rem;
    --row-gap-24-16: 1.6rem;
    --row-gap-24: 2.4rem;
    --row-gap-25-22: 2.2rem;
    --row-gap-16: 1.6rem;
    --row-gap-10-8: 0.8rem;
    --col-gap-8: 0.8rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-weight: var(--font-weight-medium);
    color: var(--color-normal-text);
    background-color: var(--color-body-bg);
}

a {
    color: var(--color-strong-text);
    text-decoration: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle
}

.heading {
    font-family: var(--font-family);
    color: var(--color-strong-text);
}

.font-48-24 {
    font-size: var(--font-48-24);
    line-height: var(--line-height-58-32);
}

.font-36-18 {
    font-size: var(--font-36-18);
    line-height: var(--line-height-50-27);
}

.font-32-18 {
    font-size: var(--font-32-18);
    line-height: var(--line-height-48-27);
}

.font-24 {
    font-size: var(--font-24);
}

.font-18 {
    font-size: var(--font-18);
    line-height: var(--line-height-27);
}

.font-18-16 {
    font-size: var(--font-18-16);
    line-height: var(--line-height-27-26);
}

.font-16-14 {
    font-size: var(--font-16-14);
    line-height: var(--line-height-26-22);
}

.font-16-primary {
    font-size: var(--font-16);
    line-height: var(--line-height-19);
}

.font-16-secondary {
    font-size: var(--font-16);
    line-height: var(--line-height-22);
}

.font-15-14 {
    font-size: var(--font-15-14);
    line-height: var(--line-height-25-22);
}

.font-15 {
    font-size: var(--font-15);
    line-height: var(--line-height-19);
}

.font-14-12 {
    font-size: var(--font-14-12);
    line-height: var(--line-height-22-mb);
}

.font-14-11 {
    font-size: var(--font--14-11);
    line-height: var(--line-height-17-18);
}

.font-14-8 {
    font-size: var(--font-14-8);
    line-height: var(--line-height-10-mb);
}

.font-14 {
    font-size: var(--font-14);
    line-height: var(--line-height-17-mb);
}

.font-12-11 {
    font-size: var(--font-12-11);
    line-height: var(--line-height-22-18);
}

.font-12-10 {
    font-size: var(--font-12-10);
    line-height: var(--line-height-22-desktop);
}

.font-11-7 {
    font-size: var(--font-11-7);
    line-height: var(--line-height-22-12);
}

.font-10-7 {
    font-size: var(--font-10-7);
}

.fw-normal {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}

.fw-600 {
    font-weight: 600;
}

.fw-500 {
    font-weight: 500;
}

.section--margin-120-80 {
    margin-block: var(--margin-section-120-80);
}

.rgap-32-16 {
    row-gap: var(--row-gap-32-16);
}

.rgap-25-22 {
    row-gap: var(--row-gap-25-22);
}

.rgap-24-16 {
    row-gap: var(--row-gap-24-16);
}

.rgap-24 {
    row-gap: var(--row-gap-24);
}

.rgap-10-8 {
    row-gap: var(--row-gap-10-8);
}

.cgap-8 {
    column-gap: var( --col-gap-8);
}

.container {
    /* 1440-2*100-2*16 */
    margin: 0 auto;
    max-width: 1272px;
    padding-inline: var(--padding-inline-container);
}

.container--banner {
    max-width: 1356px;
}

.heading-color {
    color: var(--color-strong-text);
}

.container--bg {
    /*  1440-345-268+2*24 */
    margin: 0 auto;
    max-width: 875px;
}

.section--header {
    padding-block: 32px;
    background: var(--color-header-and-container-bg);
    box-shadow: var(--color-box-shadow);
}

.section--banner-head {
    background-image: url("../images/banner/banner-head-mb.svg");
    transition: 0.6s ease;
}

.section--body-primary {
    margin-block: 12.3rem 8rem;
}

.section--body-secondary {
    padding-inline: var(--padding-section);
}

.grid--bg-mb {
    padding-block: 0 2.4rem;
    background-image: url("../images/image_body/bg-secondary-mb.svg");
}

.button {
    border: inherit;
    background: inherit;
    outline: inherit;
}

.btn {
    cursor: pointer;
    border: 0;
    color: var(--color-btn-text);
    background: var(--color-line-and-btn-bg);
    border-radius: 5rem;
    padding-inline: 3.6rem;
    font-family: var(--font-family);
    font-size: var(--font-16);
    line-height: var(--line-height-19);
    font-weight: var(--font-weight-semiBold);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    min-height: 5.1rem;
}

.btn-primary {
    max-width: var(--btn-maxw-primary);
}

.btn-secondary {
    max-width: var(--btn-maxw-secondary);
}

.circle-number {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--color-icon);
}

.icon--svg-small {
    width: 82px;
    height: 82px;
}


/* ====HEADER==== */

.header--group-right {
    column-gap: 6rem;
}

.header__nav--list-menu {
    column-gap: 4rem;
}


/* ====MENU==== */

.closebtn {
    color: var(--color-body-bg);
    top: 20px;
    right: 18px;
    font-size: 35px;
    margin-left: 50px;
}


/* ====BANNER==== */

.grid--banner {
    grid-template-columns: repeat(1, 1fr);
}

.grid--banner-item-content {
    padding-inline: var(--padding-inline-container);
    row-gap: 2.4rem;
}

.item--banner-content {
    row-gap: 1.6rem
}

.grid--banner-item-content {
    max-width: 49.3rem;
}

.sub-heading-banner {
    max-width: 39.3rem;
}

.grid--banner-item-img {
    max-width: 68.4rem;
}


/* ====SECTION BRAND==== */

.section--brand {
    margin-block: 12.3rem 8rem;
}

.container--brands {
    row-gap: 2.9rem;
}

.logo-brands {
    gap: 3.3rem 4.8rem;
}

.title-brands {
    line-height: 1.7rem;
    color: var(--color-brand);
}


/* ====SECTION DIFFERENT==== */

.grid--bg {
    row-gap: 2.4rem;
}

.item-content-mb {
    max-width: 29.5rem;
}


/* ====SECTION PREDICT==== */

.img-predict-primary {
    max-width: 35.5rem;
}

.container--bg-secondary {
    border-radius: 2.4rem;
    background-image: url("../images/banner/banner-main-primary-mb.svg");
    padding-inline: var(--padding-inline-container-bg);
    padding-block: var(--padding-block-container-bg-80-24);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: inherit;
    row-gap: 4.8rem;
}

.grid--bg-third {
    row-gap: 32.93px;
    margin-top: 8.19px;
}

.content-graph {
    column-gap: 15.42px;
}