:root {
    --color-primary: #112D35;
    --color-secondary: #3F555D;
    --color-third: #EEEEF5;
    --color-fourth: #FFF;
    --color-fifth: #C4C4C4;
    --color-sixth: rgba(255, 255, 255, 0.80);
    --color-seventh: rgba(250, 250, 250, 0.50);
    --color-eighth: #1F94AA;
    --color-ninth: #F7F7FE;
    --color-tenth: #FFFFFF;
    --color-eleventh: #88969A;
    --color-twelfth: rgba(255, 255, 255, 0.10);
    --color-box-shadow-primary: 0px 0px 24px 0px rgba(0, 0, 0, 0.05);
    --color-hover-primary: #f6f6f6;
    --color-hover-secondary: #22889c;
    --font-primary: 'Montserrat', sans-serif;
    --font-weight-bold: 700;
    --font-weight-semiBold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --heading-xxlarge: 1.8rem;
    --heading-xlarge: 1.8rem;
    --heading-large: 1.6rem;
    --heading-normal: 1.6rem;
    --heading-medium: 1.5rem;
    --heading-small: 1.4rem;
    --sub-heading-large: 1.4rem;
    --sub-heading-medium: 1.4rem;
    --sub-heading-regular: 1.1rem;
    --sub-heading-small: 1rem;
    --line-height-xxlarge: 2.7rem;
    --line-height-xlarge: 2.7rem;
    --line-height-large: 2.6rem;
    --line-height-medium: 1.9rem;
    --line-height-small: 1.7rem;
    --line-height-sub-heading-lg: 2.2rem;
    --line-height-sub-heading-md: 1.8rem;
    --btn-max-width-primary: 16.7rem;
    --btn-max-width-secondary: 20.2rem;
    /* --padding-inline-primary */
    --padding-inline-medium: 1.6rem;
    --padding-inline-large: 2.4rem;
    --padding-block-primary: 2.4rem;
    --padding-block-secondary: 2.4rem 4.8rem;
    --margin-block-large: 8rem;
    --margin-inline-large: 1.6rem;
    --row-gap-primary: 1.6rem;
    --row-gap-secondary: 1.6rem;
    --row-gap-normal: 2.4rem;
    --row-gap-fourth: 2.2rem;
    --row-gap-medium: 1.6rem;
    --row-gap-sixth: 0.8rem;
    --row-gap-xxlg: 4rem;
    --col-gap-medium: 0.8rem;
    --col-gap-lg: 4rem;
    --b-radius: 2.4rem;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    /*1.6*/
    font-size: var(--heading-normal);
    /* 500 */
    font-weight: var(--font-weight-medium);
    color: var(--color-secondary);
    background-color: var(--color-fourth);
}

a {
    color: var(--color-primary);
    text-decoration: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}


/* Heading - Subheading */

.heading {
    font-family: var(--font-primary);
    color: var(--color-primary);
}

.heading--xxl {
    font-size: var(--heading-xxlarge);
}

.heading--xlg {
    font-size: var(--heading-xlarge);
}

.heading--lg {
    font-size: var(--heading-large);
}

.heading--md {
    font-size: var(--heading-medium);
}

.heading--sm {
    font-size: var(--heading-small);
}

.sub-heading--lg {
    font-size: var(--sub-heading-large);
}

.sub-heading--md {
    font-size: var(--sub-heading-medium);
}

.sub-heading--regular {
    font-size: var(--sub-heading-regular);
}

.sub-heading--sm {
    font-size: var(--sub-heading-small);
}


/* Line-height */

.line-height-xxl {
    line-height: var(--line-height-xxlarge);
}

.line-height-xl {
    line-height: var(--line-height-xlarge);
}

.line-height-lg {
    line-height: var(--line-height-large);
}

.line-height-sm {
    line-height: var(--line-height-small);
}

.lh-sub-heading-lg {
    line-height: var(--line-height-sub-heading-lg);
}

.lh-sub-heading-md {
    line-height: var( --line-height-sub-heading-md);
}


/* Font-Weight */

.fw-normal {
    font-weight: var(--font-weight-regular);
}

.fw-bold {
    font-weight: var(--font-weight-bold);
}

.fw-semibold {
    font-weight: var(--font-weight-semiBold);
}

.fw-medium {
    font-weight: var(--font-weight-medium);
}


/* Margin */


/* .mg-block-primary 
    // 80-120 
.margin-block-large {
   
    margin-block: var(--margin-block-large);
} 
*/


/* .mg-inline-primary 
    16
  */

.margin-inline-large {
    margin-inline: var(--margin-inline-large);
}


/* Row-gap */


/* .rgap-primary */

.row-gap-xlg {
    /* 16-32 */
    row-gap: var(--row-gap-primary);
}


/* .rgap-fourth */

.row-gap-lg {
    /* 22-25 */
    row-gap: var(--row-gap-fourth);
}


/* .rgap-fifth */

.row-gap-md {
    /* 16-24 */
    row-gap: var(--row-gap-medium);
}


/* .rgap-sixth */

.row-gap-sm {
    /* 8-10 */
    row-gap: var(--row-gap-sixth);
}


/* .row-gap-large */

.row-gap-xxlg {
    /* 40 */
    row-gap: var(--row-gap-xxlg);
}


/* .rgap-third */

.row-gap-normal {
    /* 24 */
    row-gap: var(--row-gap-normal);
}

.r-gap-24 {
    row-gap: 2.4rem;
}


/* Column-gap */


/* .cgap-primary */

.column-gap-md {
    /* 8 */
    column-gap: var(--col-gap-medium);
}


/* .cgap-secondary */

.column-gap-lg {
    /* 40 */
    column-gap: var(--col-gap-lg);
}


/* Border-radius */

.b-radius {
    /* 24-40 */
    border-radius: var(--b-radius);
}


/* ====GENERAL CLASS BACKUP==== */

.section {
    margin-block: var(--margin-block-large);
}

.container {
    margin: 0 auto;
    padding-inline: var(--padding-inline-medium);
}

.container--large {
    /* 1240 + 2*16 */
    max-width: 1272px;
}

.container--medium {
    width: 100%;
    max-width: 1240px;
    /* 16 */
    margin-inline: var(--margin-inline-large);
}

.container--predict {
    border-radius: var(--b-radius);
    overflow: hidden;
}

.container--small {
    /* 827 + 2*16 */
    max-width: 859px;
}

.container--background {
    background-color: var(--color-ninth);
}

.high-light {
    display: inline-block;
}

.high-light::after {
    content: '';
    display: block;
    width: 100%;
    border-radius: 5px;
}

.high-light-large::after {
    border-bottom: 7px solid var(--color-eighth);
}

.high-light-medium::after {
    border-bottom: 5px solid var(--color-eighth);
}

.high-light-small::after {
    border-bottom: 4px solid var(--color-eighth);
}

.icon-text {
    transition: 0.6s ease;
}

.icon-text svg {
    display: block;
}

.icon-txt-primary-mb {
    bottom: 4.5rem;
    right: -3rem;
}

.icon-txt-secondary-mb svg {
    width: 2.8rem;
    height: 2.7rem;
}

.icon-txt-secondary-mb {
    bottom: 4.5rem;
    right: -3rem;
}

.icon-txt-third-mb {
    bottom: 2.3rem;
    right: -2.9rem;
}

.icon-txt-fourth-mb {
    bottom: 4.5rem;
    right: -2rem;
}

.icon-txt-fourth-mb svg {
    max-width: 20rem;
    height: 2.2rem;
}

.icon-txt-third-mb svg {
    width: 1.7rem;
    height: 1.9rem;
}

.icon-txt-primary-mb svg {
    width: 1.9rem;
    height: 1.9rem;
}

.icon-txt-fifth-mb svg {
    width: 2.3rem;
    height: 2.5rem;
}

.icon-txt-fifth-mb {
    bottom: 4.7rem;
    right: -1rem;
}

.icon-txt-sixth-mb svg {
    width: 2.4rem;
    height: 2.1rem;
}

.icon-txt-sixth-mb {
    bottom: 2.5rem;
    right: -3rem;
}


/* HEADER */

.container--header {
    padding-block: 3.2rem;
}

.button {
    border: inherit;
    background: inherit;
    outline: inherit;
}

.btn--main {
    cursor: pointer;
    border: 0;
    color: var(--color-fourth);
    background: var(--color-eighth);
    border-radius: 5rem;
    padding-inline: 3.2rem;
    font-family: var(--font-primary);
    font-size: var(--heading-normal);
    line-height: var(--line-height-medium);
    font-weight: var(--font-weight-semiBold);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    min-height: 4.7rem;
    max-width: max-content;
}

.btn--main:hover {
    background: var(--color-hover-secondary);
}

.b-solid-demo {
    border: 1px solid red;
}


/* ====MENU==== */

.closebtn {
    color: #112D35;
    top: 20px;
    right: 18px;
    font-size: 35px;
    margin-left: 50px;
}


/* ====SECTION BANNERN==== */

.grid--banner {
    column-gap: 4.4rem;
    row-gap: 2.4rem;
    width: 100%;
    overflow: hidden;
}

.item-cont-ban {
    padding-block: 23.2rem 19.5rem;
    padding-inline: 1.6rem;
    max-width: 100%;
}

.heading-banner {
    max-width: 45%;
}

.sub-heading-banner {
    margin-block: 1.6rem 4rem;
    max-width: 55%;
}

.item-images-banner {
    background-image: url("../images/banner/bg-item-banner-mb.svg");
    /* margin-right: calc((100vw - 1272px) / 2); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 50%;
    width: 100%;
    transition: 0.6s ease;
}


/* ====SECTION BRAND==== */

.section--brand {
    margin-block: 12.3rem 8rem;
}

.container--brands {
    row-gap: 2.9rem;
}

.section--images-brand {
    gap: 3.3rem 4.8rem;
}

.title-brands {
    line-height: 1.7rem;
    color: var(--color-fifth);
}


/* ====SECTION DIFFERENT==== */

.sub-heading-mb {
    max-width: 29.5rem;
}


/* ====SECTION PREDICT==== */

.grid--box {
    overflow: hidden;
    /* row-gap: 2.3rem; */
}

.item--images-background {
    background-image: url("../images/image_body/item-bg-primary.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
    width: 100%;
}

.mw-600 {
    max-width: 60rem;
}

.item--images-body-secondary {
    row-gap: 5rem;
    padding-block: 8.8rem 5.8rem;
    padding-inline: 3rem;
    height: 100%;
    align-items: center;
}

.content-graph {
    column-gap: 15.42px;
    /* margin-bottom: 2.4rem; */
}

.sub-heading-predict-primary {
    margin-block: 1.6rem 2.4rem;
}

.sub-heading-predict-secondary {
    margin-block: 1.6rem;
}

.item-img-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.item--images-body-secondary {
    order: 4;
}

.item--content-body-secondary {
    order: 3;
}


/* ====SECTION PROGESTERONE ==== */

.grid--progesterone-primary {
    row-gap: 3.2rem;
}

.grid--item-secondary-info {
    column-gap: 1.4rem;
}

.grid--progesterone-secondary {
    background-image: url("../images/image_body/bg-primary-mb.svg");
    padding-block: 2.4rem;
    padding-inline: 2.4rem;
}

.info-user {
    row-gap: 0.8rem;
}

.item-note {
    color: var(--color-eighth);
    margin-top: 0.8rem;
}

.group-sub-heading {
    margin-block: 2.4rem 3.2rem;
}


/* ====SECTION REASONS TO CHOOSE US==== */

.grid--item-images {
    max-width: 34.3rem;
}

.title-heading-fourth {
    width: 100%;
    margin-bottom: 4rem;
}

.sub-heading-fourth {
    row-gap: 2.2rem;
    margin-block: 1.6rem 2.4rem;
}

.grid--row {
    row-gap: 4rem;
    grid-template-rows: repeat(3, auto);
}

.txt-fourth-list {
    list-style: inside;
}


/* ====SECTION FERTILITY LAB==== */

.container--fertility-lab {
    row-gap: 3.2rem;
}

.grid--item-note-fifth {
    color: var(--color-eleventh);
    margin-top: 2.4rem;
}

.grid--fifth-primary {
    grid-template-rows: repeat(4, auto);
}

.item--heading-fifth {
    max-width: 22.5rem;
}

.item-subheading-fifth {
    margin-block: 1.2rem 2.4rem;
}

.item--btn-fifth {
    margin-block: 2.4rem;
}

.grid--fifth-secondary {
    grid-template-rows: repeat(2, auto);
    row-gap: 2.4rem;
    column-gap: 2.4rem;
    width: 100%;
}

.grid--item-images-fifth {
    max-width: 100%;
}

.step {
    column-gap: 1.6rem;
}

.icon-step {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cicrle {
    width: 10.2rem;
}

.grid--item-content-fifth {
    max-width: 26.6rem;
}


/* ====SECTION THING YOU NEED TO KNOW==== */

.container--slider {
    background-image: url("../images/image_body/bg-secondary-mb.svg");
    border-radius: 11.1px;
    padding: 2.4rem;
}

.grid--slider {
    gap: 1.6rem;
}

.grid--item-rate {
    order: 2;
}

.grid--item-content-sixth {
    order: 1;
}

.grid--item-content-sixth {
    row-gap: 1.6rem;
    width: 100%;
}

.item-name-sixth {
    margin-block: 0.8rem 0.4rem;
}

.item-date {
    font-size: 1.2rem;
}

.item-heading-sixth {
    font-size: 1.8rem;
    line-height: 2.7rem;
}


/* ====QUESTION ANSWERED==== */

.grid--question {
    row-gap: 2.6rem;
}

.grid--item-title {
    max-width: 40.5rem;
}

.grid--item-list-collapsible {
    max-width: 70.7rem;
    row-gap: 2.4rem;
}


/* CSS Collapsible */

.btn--list-collapsible-highlight {
    border-radius: 2.4rem;
    overflow: hidden;
    padding: 2.4rem;
    background: var(--color-ninth);
    display: flex;
    flex-direction: column;
}

.collapsible {
    cursor: pointer;
    width: 100%;
    text-align: left;
}


/* .btn--list-collapsible-highlight:hover {
    background-color: var(--color-hover-primary);
} */

.collapsible:after {
    /* Plus */
    content: '\002B';
    color: var(--color-primary);
    font-weight: 500;
    float: right;
    margin-left: 5px;
    font-size: 2.4rem;
}

.active:after {
    /* Minus */
    content: "\2212";
}


/* Max-height ban đầu = 0 để ẩn, sau khi active thì hiện ra */

.item-content-seventh {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.item-suv-heading-content {
    padding-top: 1.3rem;
}


/* Nav List Mobile */


/* .menu--collapsible {
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.link-menu-footer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    row-gap: 1.6rem;
}

.link-menu-pd-24 {
    padding-top: 2.4rem;
}

.menu--collapsible.active--nav-list-mobile .menu--dropdown-footer {
    transform: rotate(180deg);
    transition: 0.2s ease;
} */


/* CSS Active Button (Highlight the active)
   Style the active class, and buttons on mouse-over
*/

.activeBtn,
.btn--list-collapsible-highlight:hover {
    background-color: var(--color-hover-primary);
}


/* SECTION FOOTER */

.container--background-footer {
    background-color: var(--color-primary);
}

.grid--item-top {
    padding-block: 2.4rem;
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
}

.grid--item-bottom {
    row-gap: 1.8rem;
    padding-block: 2.4rem 1.6rem;
    grid-template-columns: 1fr;
}


/* .footer--advantage {
    grid-template-columns: repeat(3, auto);
    column-gap: 3.2rem;
    row-gap: 1.6rem;
} */

.item-footer-content {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color-seventh);
}

.list-content {
    list-style: '\2212' inside;
}

.footer--social-desktop {
    column-gap: 3.2rem;
    display: none;
}

.footer--social-mb {
    display: flex;
    column-gap: 3.2rem;
}

.advantage-info {
    column-gap: 1.6rem;
}

.title-advantage {
    color: var(--color-fourth);
}


/* Menu Footer */

.grid--item-center {
    /* grid-template-columns: 1fr; */
    row-gap: 3.2rem;
    padding-block: 2.4rem;
    border-top: 1.6px inset var(--color-twelfth);
    border-bottom: 1.6px inset var(--color-twelfth);
}

.list-menu-footer {
    max-width: 23.1rem;
}

.link-menu-parent {
    color: var(--color-fourth)
}

.link-menu-children {
    line-height: 1.9rem;
    color: var(--color-sixth);
}


/* ====SLIDER==== */